#main-table {
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}

#main-table > * {
    font-family: "Times New Roman", Times, serif;
}

#main-table th, td {
    width: 25%;
}

#main-table th {
    background-color: rgb(108, 108, 108);
    color: rgb(196, 196, 196);
    font-weight: bold;
    position: sticky;
    top: 50px;
    z-index: 2;
}

.col-general {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    padding-left: 10px;}

.col-general:hover {
    border-left: 1px solid black;
    border-bottom: 1px solid  gray;
}

.col-time, .col-cmnd {
    background-color: lightgray;
}

.col-unit, .col-step {
    background-color: rgb(233, 233, 233);
}

.col-time {
    line-height: 15px; 
    position: relative;
}

.status-box {
    width: 50px;
    height: 15px;
    float: right;
    vertical-align: middle; 
    margin-right: 10px;
    text-align: center;
}

#status-box-alarm {
    background-color: rgb(231, 173, 173);
    color: rgb(224, 74, 74);
}

#status-box-wait {
    background-color: rgb(178, 247, 183);
    color: rgb(15, 189, 20);
}

.selected > *{
    background-color: rgb(148, 157, 230);
}